body {
    background: #ef6a40;
    text-align:center;
}
#main {
    text-align: left;
    width: 1000px;
    height: 600px;
    background: #ffd800;
    margin: 25px auto;
    border: solid 2px #ffd800;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: "Times New Roman";
    font: 24pt;
    color: #ff3819
}
hr{
    height: 2px;
    color: #000000;
}
.normal{
    font-family: "Comic Sans MS";
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    color: #000000;
}
.other {
    font-family: "Comic Sans MS";
    font-size: 12pt;
    text-align: left;
    text-indent: 48px;
    color: #c600ff;
}